@model NewLife.YuqueWeb.Models.BookIndexModel
@using NewLife.Data
@using NewLife.YuqueWeb.Entity
@using NewLife.YuqueWeb.Models
@using PageModel=NewLife.YuqueWeb.Models.PageModel;
@{
    Layout = "~/Views/Shared/_Layout_yq.cshtml";

    var cat = Model.Book;
    var infos = Model.Documents;
    var page = new PageModel { Page = Model.Page, Url = $"/{cat.Code}-pageIndex" };
}
<div class="lark">
    <div class="BookOverview-module_containerWrapper" style="min-height: 600px;">
        <div class="BookOverview-module_container">
            <div class="BookOverview-module_bookHead">
                <div class="BookOverview-module_bookTitle">
                    <span class="BookOverview-module_bookName">@cat.Name</span>
                </div>
            </div>
            @{
                // <ul class="lead">
                //     @foreach (var item in infos)
                //     {
                //         <li>
                //             <a href="/@cat.Code/@item.Code" title="@item.Remark">
                //                 <i></i>@item.Title
                //             </a>
                //         </li>
                //     }
                // </ul>
                <div>
                    <div style="overflow: visible; width: 0px;">
                        <div class="BookOverview-module_tocContainer">
                            <div style="position: relative; width: 632px; overflow: hidden; will-change: transform; direction: ltr;">
                                <div style="height: 5160px; width: 100%;">
                                    @foreach (var doc in infos)
                                    {
                                        <a href="/@cat.Code/@doc.Code">
                                            <div class="column-module_columnItem" style="position: absolute; left: 0px; top: 344px; height: 172px; width: 100%;">
                                                <div class="column-module_content">
                                                    <div class="column-module_left" style="width: calc(100% - 204px);">
                                                        <div class="column-module_title">@doc.Title</div>
                                                        <div class="column-module_desc">@doc.Summary</div>
                                                        <div class="column-module_date">
                                                            <span>@doc.PublishTime</span>
                                                        </div>
                                                    </div>
                                                    <div class="column-module_right" style="background-image: url(&quot;@doc.Cover&quot;); background-size: 100%; width: 204px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("_Pager", page)
            }
        </div>
    </div>
</div>